*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
a{
    text-decoration: none;
}
body{
    color:rgba(38, 38, 38, 1);
    line-height: 18px;
    font-family: sans-serif;
}
.pageContainer{
    height: 100vh;
    width: 100%;
    background-color: #fafafa;
    padding: 1rem;
}
.row{
    display: flex;
    padding: 0 2rem;
    width: 100%;
    max-width: 93.5rem;
    margin: 3rem auto 0;
}
.col-1{
    position:relative;
    min-width: 46rem;
    height: 61.8rem;
    background:url(public/assets/images/favicon/home-phone.png)      no-repeat;
    background-size:100% 100%;

}
.col-1 .heroImg{
    width: 55%;
    height: 53rem;
    background:url(public\assets\images\favicon\4.png)  no-repeat;
    background-size:100% 100%;
    position: absolute;
    top: 2.5rem;
    left: 15rem;
}
.col-2{
    width: 100%;
    max-width: 35rem;
    margin-top: 3rem;
}
.col-2 form{
    background-color: white;
    border: 2px solid #eee;
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
    text-align: center;
}
.form--input{
    padding: 0.8rem;
    margin-bottom: 0.5rem;
    border: 2px solid rgba(255, 255, 255, 0.435);
    border-radius:0.4rem;
}
.form--input:focus{
    outline:none;
    border: 2px solid #eee;
}
.passwordContainer{
    position: relative;
}
.passwordContainer input{
    width: 100%;

}
.cursor-pointer{
    cursor: pointer;
}
.show_hide_text{

     position: absolute;
     top: 9px;
     right:4px;
     font-size: 15px;
}
.siteLogoContainer{
    width: 170px;
    height: 70px;
}
.siteLogoContainer img{
    width: 100%;
    height: 100%;
}
form .button{
    margin: 1rem 0 1.5rem;
    height: 3rem;
    border: none;
    background: rgb(59, 30, 189);
    color: rgb(223, 217, 206);
    border-radius: 0.4rem;
    font-weight:bold;
}
form .button:hover{
    background: rgb(21, 66, 214);
}
.separator{
    font-size: 1rem;
    color: gray;
    text-transform: uppercase;
    margin-top: 1rem;
    position: relative;
    

}
.separator::before,.separator::after{
    content: "";
    position: absolute;
    background: rgb(255, 255, 255);
    width: 40%;
    height: 1px;
    top: 50%;
    transform: translateY(-50%);

}
.separator::before{
    left: 0;
}
.separator::after{
    right: 0;
}
.password_reset{
    font-size: 1.7rem;
    color: blue;
    margin-top: 1rem;
}
.password_reset:hover{
    text-decoration: underline;
}
.form--footer{
    text-align: center;
    font-size: 1.4rem;
    color: black;
    padding: 2rem 0;
    background: wheat;
    border: 2px solid rgba(255, 255, 255, 0.694);
    margin:1rem 0;
}
.form--footer a{
    color: darkcyan;
    font-weight: bold;
    font-size: 1.7rem;

}
.terms{
    margin-top: 1rem;
    font-size: 15px;
}
.form_errors{
    font-size: 15px;
    color: #c68183;

}
.form_errors li{
    list-style: none;
    width: 560px;
    padding: 1rem;
    font-size: 15px;
    color: #c68183;

}